<div class="page-header">
	<h1>se connecter</h1>
</div>

<div class="col-xs-12">
	<%= bootstrap_form_for :sessions, :url => sessions_path do |f| %>
    <%= f.text_field :username, label: 'Pseudo' %>
    <%= f.password_field :password, label: 'Mot de passe' %>
    <%= f.check_box :remember_me, label: "se souvenir de moi" %>
    <%= f.submit "S'identifier" %>
	<% end %>
</div>

<div class="col-xs-12">
	<p class="alert alert-info">Pas encore inscrit ? <%= link_to "S'inscrire !", signup_path %></p>
</div>
