<% if current_user #we check if the user is logged %>

  <% comment = Comment.did_I_comment_this? current_user.id , recipe_id #we check if he already comment this recipe %>

    <%= form_for(comment) do |f| %>
      <% if @comment.errors.any? %>
        <div id="error_explanation">
          <h2>Il y a <%= pluralize(@comment.errors.count, "erreurs")%> à corriger :( </h2>

          <ul>
          <% @comment.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <fieldset>
        <legend>ajoutez votre commentaire</legend>


        <%= f.text_field :title %>
        <%= f.text_area :content %>

        <%= f.hidden_field :recipe_id, :value => @recipe.id %>

        <div class="actions">
          <%= f.submit  'ajouter' %>
        </div>
      </fieldset>


  <% end %>



<% else #if he's not connected, I print somes link to login%>

    <p><%= link_to 'Connectez-vous' , signin_path %></li> ou <%= link_to 'créez un compte' , signup_path %> pour écrire un commentaire</p>

<% end %>