<% if current_user #we check if the user is logged %>
  <% comment = current_user.comment_on_recipe recipe_id #we check if he already comment this recipe %>

    <%= form_for(comment) do |f| %>
      <% if @comment.errors.any? %>
        <div id="error_explanation">
          <h2>Il y a <%= pluralize(@comment.errors.count, "erreurs")%> à corriger :( </h2>

          <ul>
          <% @comment.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="bubble">
        <%= f.text_field :title %>
        <%= f.hidden_field :recipe_id , :value => recipe_id %>
        <%= f.text_area :content %>
      </div><%= f.submit  'ajouter' %>



  <% end %>



<% else #if he's not connected, I print somes link to login%>

    <p><%= link_to 'Connectez-vous' , signin_path %></li> ou <%= link_to 'créez un compte' , signup_path %> pour écrire un commentaire</p>

<% end %>