<p id="notice"><%= notice %></p>

<h1>Commentaire n°<%= @comment.id %></h1>

<h2>à propos de..</h2>

<p>
  <strong>Title:</strong>
  <%= @comment.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @comment.content %>
</p>



<quote><%= @comment.content %></quote>

<%= render 'shared/user' , :user => @comment.user %>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
