<section id="recipe" >

<h1 class="recipe"><%= @recipe.name  %></h1>

<%= form_for @recipe , :html => {:multipart => true } do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>

  

<div 
	id="recipe_picture"
	style="background-image: url(<%= @recipe.image_url %>);" 
>



</div>

<%= f.file_field :image  %>




	

<!-- NOUVELLE MANIEREE -->
<div id="header_recipe">


	<div id="times">

		<div style="background-image:url(/assets/images/time/cooking.png)" >
			<!-- préparation  -->
			<%= f.number_field :t_cooking  %>
		</div>
		<div style="background-image:url(/assets/images/time/baking.png)" >
			<!-- cuisson -->
			<%= f.number_field :t_baking  %>
		</div>
		<div style="background-image:url(/assets/images/time/cooling.png)" >
			<!-- réfrigération -->
			<%= f.number_field :t_cooling  %>
		</div>
		<div style="background-image:url(/assets/images/time/rest.png)" >
			<!-- repos -->
			<%= f.number_field :t_rest  %>
		</div>
	</div>

</div>


<ul id="steps">
	<li>
		<span></span>description<%= f.text_field :description , :placeholder => "entrez une description"%></li>
	<li><span></span>ingrédients<%= f.text_area :ingredients , :placeholder => "listez les ingrédients en revant à la ligne, simplement"%></li>
	<li><span></span>étapes<%= f.text_area :steps , :placeholder => "listez les étapes en revant à la ligne, simplement"%></li>
	<li><span></span>catégorie<%= f.label :category , "catégorie" %></li>
	<li><span></span>saisons<%= select_tag :season, options_for_select( 
			[
				['toutes',0], 
				['prinptemps',1], 
				['été',2], 
				['automne',3], 
				['hiver',4] 
			] 
		) %></li>
</ul>









	<%= f.submit "Mettre à jour" %>
  
<% end %>

</section>