<h1 class="recipe"><%= @recipe.name  %></h1>


<%= form_for @recipe , :html => {:multipart => true } do |f| %>
	<%= render 'shared/error_messages', :object => f.object %>

	<!-- if the recipe is forked, insert a text field for variant_name of another-->
	<div class="row">
		<% if @recipe.forked?%>
			<div class="form-group">
				<%= f.label :variant_name, "Nom de la variante" %>
				<%= f.text_field :variant_name , placeholder: "ex: Sans fruits rouges" , class: "form-control" %>
			</div>
		<% end %>

		<div class="form-group col-sm-8">
			<%= f.label :description%>
			<%= f.text_field :description , :placeholder => "entrez une description", class: "form-control" %>
		</div>

		<div class="form-group col-sm-4">
			<%= f.label :image  %>
			<%= f.file_field :image  %>
		</div>

		<div class="form-group col-sm-6">
			<%= f.label :rtype, "Type" %>
			<%= f.select :rtype, Recipe.types , {}, { class: "form-control form-control-lg" }  %>
		</div>

		<div class="form-group col-sm-6">
			<%= f.label :season, "Saison" %>
			<%= f.select :season, Recipe.seasons, {}, { class: "form-control form-control-lg" }  %>
		</div>
	</div>


<div class="row  col-md-12">
	<h2>Temps</h2>

	<% { cooking: "Préparation", baking: "Cuisson", cooling: "Réfrigération", rest: "Repos" }.each do |type, description| %>

		<div class="form-group col-sm-3">
			<%= f.label type, description %>
			<div class="input-group">
				<%= f.number_field type, class: "time_picker form-control" , step: 5  %>
				<span class="input-group-addon">minutes</span>
			</div>
		</div>

	<% end %>
</div>

<div class="row col-md-12">
	<%= f.label :ingredients , 'Ingrédients'%>
	<%= f.text_area :ingredients , placeholder: "courgettes", class: "form-control"%>
	<div class="help-block">Listez les ingrédients en revenant simplement à la ligne. On s'occupe du reste</div>
</div>

<div class="row  col-md-12">
	<%= f.label :steps, 'Etapes' %>
	<%= f.text_area :steps , :placeholder => "p'lez les carottes", class: "form-control"%>
	<p class="help-block">Listez les étapes en revenant simplement à la ligne.</p>
</div>

<%= f.submit "Mettre à jour", class: 'row btn btn-primary' %>


<% end %>
