<section id="recipe_edit" >

<h1 class="recipe"><%= @recipe.name  %></h1>


<%= form_for @recipe , :html => {:multipart => true } do |f| %>
	<%= render 'shared/error_messages', :object => f.object %>

	<!-- if the recipe is forked, insert a text field for variant_name of another-->
	<% if @recipe.root_recipe_id != 0%>
		<label>Nom de la variante</label><%= f.text_field :variant_name , :placeholder => "ex: Sans fruits rouges" %>
	<% end %>

	<label>Photo</label><%= f.file_field :image  %>

	
<h2>Infos</h2>


	<h3>Type de recette</h3>
	<ul class="radio_buttons_with_icon">
		<% ['Entrée', 'Plat', 'Dessert', 'Cocktail', 'Apéritif'].each do |type| %>
			<li>
				<%= f.radio_button :rtype, type %>
				<%= f.label :rtype, image_tag("/assets/images/type_of_food/%s.svg"%type ) + type , value: type %>
			</li>
		<% end %>
	</ul>

	<h3>Saison adaptée à la dégustation de celle-ci</h3>
	<ul class="radio_buttons_with_icon">
		<% ['Toutes', 'Printemps', 'Eté', 'Automne', 'Hiver'].each do |type| %>
			<li>
				<%= f.radio_button :season, type %>
				<%= f.label :season, image_tag("/assets/images/seasons/%s.svg"%type ) + type , value: type %>
			</li>
		<% end %>
	</ul>
	
	

	<label>Description</label><%= f.text_field :description , :placeholder => "entrez une description"%>
	<label>Catégorie</label><%= f.text_field :category , :placeholder => "cuisine du monde, cocktail, etc.."%>




<h2>Temps</h2>
	<ul class="times">
		<li><label>Préparation</label><%= f.time_field :t_cooking  , class: "time_picker"%></li>
		<li><label>Cuisson</label><%= f.time_field :t_baking  , class: "time_picker"%></li>
		<li><label>Réfrigération</label><%= f.time_field :t_cooling  , class: "time_picker"%></li>
		<li><label>repos</label><%= f.time_field :t_rest  , class: "time_picker"%></li>
	</ul>



<h2>Ingrédients</h2>
	<p>Listez les ingrédients en revenant simplement à la ligne. On s'occupe du reste</p>
	<%= f.text_area :ingredients , :placeholder => "courgettes"%>

<h2>Etapes</h2>
	<p>Listez les étapes en revenant simplement à la ligne.</p>
	<%= f.text_area :steps , :placeholder => "p'lez les carottes"%>

</ul>

<%= f.submit "Mettre à jour" %>

	
<% end %>

</section>


<script type="text/javascript">
	// set to set timepicker
	$('.time_picker').timepicker({ 'timeFormat': 'H:i:s' , 'step': 5});
</script>