<section id="recipe_edit" >

<h1 class="recipe"><%= @recipe.name  %></h1>

<%= form_for @recipe , :html => {:multipart => true } do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>

  
<div id="picture_edit" >
	<%= f.file_field :image  %>
</div>

<ul id="steps">


	<li>
		<span></span>temp nécessaire
		<table>
			<tr><th>préparation</th>
				<td><%= f.number_field :t_cooking  %></td></tr>
			<tr><th>cuisson</th>
				<td><%= f.number_field :t_baking  %></td></tr>
			<tr><th>réfrigération</th>
				<td><%= f.number_field :t_cooling  %></td></tr>
			<tr><th>repos</th>
				<td><%= f.number_field :t_rest  %></td></tr>
		</table>
	</li>

	<li>
		<span></span>description<%= f.text_field :description , :placeholder => "entrez une description"%></li>
	<li><span></span>ingrédients<%= f.text_area :ingredients , :placeholder => "listez les ingrédients en revant à la ligne, simplement"%></li>
	<li><span></span>étapes<%= f.text_area :steps , :placeholder => "listez les étapes en revant à la ligne, simplement"%></li>
	<li><span></span>catégorie<%= f.label :category , "catégorie" %></li>
	<li><span></span>saisons<%= select_tag :season, options_for_select( 
			[
				['toutes',0], 
				['prinptemps',1], 
				['été',2], 
				['automne',3], 
				['hiver',4] 
			] 
		) %></li>
</ul>

<div id="recipe_edit-confirm">
	<%= f.submit "Mettre à jour" %>
</div>

  
<% end %>

</section>