<section id="content">
	<h1>Bibliothèque</h1>


	<%= form_tag  recipes_path , method: "GET" do  %>
		<fieldset>
			<legend>Recherche</legend>

			<%= label_tag  'Nom de recette' %>
			<%= text_field_tag 'recipe' , params[:recipe], :placeholder => "recherchez une recette"  %>

			<%= label_tag  'Ingrédients' %>
			<%= text_field_tag 'ingredients' , params[:ingredients] , :placeholder => "ingrédients"  %>

			<%= label_tag  'Type de recette' %>
			<%= select_tag "type",
				options_for_select(['Toutes','Entrée','Plat','Dessert','Cocktail','Apéritif'], params[:type]) %>

			<%= label_tag  'Saison' %>
			<%= select_tag "season",
				options_for_select(['Toutes','Printemps','Eté','Automne','Hiver'], params[:season]) %>


			<%= submit_tag "go!" %>
		</fieldset>
	<% end %>

	<%= render 'shared/recipes' , :recipes => @recipes %>
	<%= will_paginate @recipes , :class => "apple_pagination" %>
</section>