
<div class="page-header">

	<h1>Bibliothèque</h1>

	<ul class="row dropdown-menu">
			<li><%= link_to 'Toutes', recipes_path %></li>
			<% Recipe.types.each do |type| %>
				<li><%= link_to type, recipes_path(type: type) %></li>
			<% end %>
	</ul>

	<div class="btn-group">
	  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	    Type de recette <span class="caret"></span>
	  </button>
	  <ul class="dropdown-menu">
	    <li><%= link_to 'Toutes', recipes_path %></li>
			<% Recipe.types.each do |type| %>
				<li><%= link_to type, recipes_path(type: type) %></li>
			<% end %>
	  </ul>

	  <button id="filter" type="button" class="btn btn-default">filtrer</button>
	</div>



</div>









<div class="row">


		<%= form_tag  recipes_path , method: "GET", id: "search_recipe_form" do  %>

				<div class="form-group col-md-4 col-sm-12">
					<%= label_tag  'Titre' %>
					<%= text_field_tag 'name' , params[:name], placeholder: "recherchez une recette", class: "form-control"  %>
				</div>

				<div class="form-group col-md-4 col-sm-4">
					<%= label_tag  'Ingrédients' %>
					<%= text_field_tag 'ingredients' , params[:ingredients] , placeholder: "ingrédients" , class: "form-control"  %>
				</div>

				<div class="form-group col-md-2 col-sm-4 col-xs-6">
					<%= label_tag  'Type' %>
					<%= select_tag "type",
						options_for_select(Recipe.types , params[:type]),
						class: "form-control"  %>
				</div>

				<div class="form-group col-md-2 col-sm-4 col-xs-6">
					<%= label_tag  'Saison' %>
					<%= select_tag "season",
						options_for_select( Recipe.seasons, params[:season]),
						class: "form-control"  %>
				</div>


				<div class="form-group col-md-2">	
					<%= submit_tag "go!", class: "btn btn-primary btn-lg"%>
				</div>

		<% end %>

</div>

<div class="row">
	<%= render 'shared/recipes' , :recipes => @recipes %>
</div>

<div class="row">
	<nav aria-label="Page navigation">
	  <%= will_paginate @recipes , class: "pagination" %>
	</nav>
</div>



<div class="row alert alert-info" role="alert">Trop de choix? Trouvez des <%= link_to "recettes avec ce qu'il vous reste dans votre frigo" , fridge_path, class: 'alert-link' %> ou bien laissez vous tenter par <%= link_to "une recette au hasard" , recipes_shuffle_path, class: 'alert-link' %></div>

	

<script type="text/javascript">
	document.addEventListener("DOMContentLoaded", function(event) { 
		$('#filter').on('click', function(e){
			e.preventDefault();
			$("#search_recipe_form").slideToggle();
		})

		if(window.location.search.substr('recipe=')){
			$('#filter').trigger('click');
		}
	});
</script>