<section id="recipe_new">
	<h1>Créez votre recette</h1>


	<%= form_for(@recipe) do |f| %>

		<%= render 'shared/error_messages' , :object => f.object %>

		<p>Donnez un nom à votre recette <strong style="display:block">ou</strong> copiez l'adresse web d'une recette hébergée par site "partenaire"*</p>

		<%= f.text_field :name , :placeholder => "Harry Covers et les surgelés"%><br/>

		<%= f.submit 'ajouter' %><br/>


		<p class="tip">Copiez l'adresse d'un site partenaire pour importer la recette sur Raspberry Cook <small>(<%= link_to "Marmiton", "http://www.marmiton.org/" %>, <%= link_to "750g", "http://www.750g.com/" %> ou <%= link_to "CuisineAZ", "http://www.cuisineaz.com/" %>)</small></p>

	<% end %>
	

</section>