<section id="recipe_new">
	<h1>Créez votre recette</h1>
	<%= form_for(@recipe) do |f| %>

		<%= render 'shared/error_messages' , :object => f.object %>

		<%= f.text_field :name , :placeholder => "Harry Covers et les surgelés"%><br/>

		<%= f.submit 'ajouter' %><br/>

	<% end %>


	<%= render 'recipes/import' %>

	

</section>