<section id="recipe_new">
	<h1>Créez votre recette</h1>
	<%= form_for(@recipe) do |f| %>

		<%= render 'shared/error_messages' , :object => f.object %>

		<%= f.text_field :name , :placeholder => "Harry Covers et les surgelés"%><br/>

		<%= f.submit 'ajouter' %><br/>

	<% end %>

	<p>Ou bien importez une recette depuis <%= link_to "marmiton.org", "http://www.marmiton.org/" %></p>

	<%= form_tag( recipes_import_path ) do %>


		<%= url_field_tag recipes_import_path,  nil, placeholder: "adresse web d'un recette Marmiton"  %><br/>

		<%= submit_tag 'importer' %><br/>

	<% end %>

</section>