<section id="recipe_new">
	<h1>Créez votre recette</h1>
	<%= form_for(@recipe) do |f| %>

		<%= render 'shared/error_messages' , :object => f.object %>

		<%= f.text_field :name , :placeholder => "Harry Covers et les surgelés"%><br/>

		<%= f.submit 'ajouter' %><br/>

	<% end %>


	<div id="import">
		<p>Ou bien importez une recette depuis <%= link_to "marmiton.org", "http://www.marmiton.org/" %></p>

		<%= form_tag( recipes_import_path ) do %>
			<%= url_field_tag 'url', nil, placeholder: "http://www.marmiton.org/recettes/recette_paupiettes-de-veau-en-cocotte_18361.aspx"  %><br/>
			<%= submit_tag 'importer' %><br/>
		<% end %>

	</div>

	

</section>