<section id="recipe_search">

	<h1>Rechercher une recette pour manger <small>(ou l'inverse)</small></h1>

	<%= form_tag  recipes_search_path , method: "GET" do  %>
		<fieldset>
			<legend>paramètres</legend>

			<%= label_tag  'Nom de recette' %>
			<%= text_field_tag 'recipe' , params[:recipe], :placeholder => "recherchez une recette"  %>

			<%= label_tag  'Ingrédients' %>
			<%= text_field_tag 'ingredients' , params[:ingredients] , :placeholder => "ingrédients"  %>

			<%= submit_tag "go!" %>
		</fieldset>
	<% end %>


	<h2>Les résultats</h2>


	<%= render 'shared/recipes' , :recipes => @recipes %>
	<%= will_paginate @recipes , :class => "apple_pagination" %>

</section>


