<!-- title of recipe -->
<div class="row page-header recipe">

	<div class="col-sm-9">
		<% if @recipe.user %>
			<%= render "users/image", user: @recipe.user %>
		<% end %>

		<h1 class="recipe"><%= @recipe.name  %>
			<%= " - %s" % @recipe.variant_name if @recipe.variant_name%></h1>
		<p><%= @recipe.description %></p>
		<p>Une recette de <%= render 'users/link', user: @recipe.user %></p>
	</div>

	<div class="col-sm-3" style="text-align: right">
		<%= render 'shared/stars', stars: @recipe.rate.to_i %>
		<hr/>
		<%= image_tag '/assets/images/icons/views.svg' , class: 'views' %> vue <%= @recipe.count_views %> fois
	</div>
	
</div>

<!-- labels -->
<div class="row col-md-12">
	<ul class="list-inline">
		<li><span class="label label-info"><%= link_to @recipe.rtype ,  recipes_path( :type => @recipe.rtype )  %></span></li>
		<li><span class="label label-info"><%= link_to @recipe.season ,  recipes_path( :season => @recipe.season )  %></span></li>
	</ul>
</div>

<!-- image of recipes and basics informations -->
<div class="row">

	<!-- image -->
	<div class="col-md-6">
			<%= image_tag @recipe.true_image_url , class: "img img-responsive img-thumbnail full-width"%>
	</div>


	<div class="col-md-6">



		<div class="col-xs-12">


			<ul class="list-group">
				<% %w(cooking baking cooling rest).each do |time| %>
					<% time_of_recipe = @recipe.public_send("t_#{time}") %>
					
					<% if time_of_recipe.is_a? Time and time_of_recipe != Recipe::ZERO_TIME %>
						<li  class="list-group-item" >
							<time><%=time_of_recipe.strftime "%H:%M"%></time>
						</li>
					<% end %>
						
				<% end %>
			</ul>
		</div>
	</div>
</div><!-- end of image-->


<!-- forked recipes -->
<div class="row">
	<!-- forked recipes -->
	<% if @recipe.forked_recipes.length > 0 %>

		<h2>Variantes disponnibles</h2>
		<%= render 'shared/recipes' , :recipes => @recipe.forked_recipes %>

	<% elsif @recipe.forked?  %>

		<h2>Recette originelle</h2>
		<%= render 'shared/recipe' , :recipe => @recipe.root_recipe %>

	<% end %>
</div>


<!-- ingredients and steps -->
<div class="row">

	<!-- ingrédients -->
	<% if @recipe.ingredients %>
		<div class="col-sm-3">
			<h2>Ingrédients</h2>

			<ul class="list-group">
				<% @recipe.ingredients.each_line do |ingredient|%>
					<li class="list-group-item"><%= link_to ingredient , recipes_path( :ingredients => ingredient )  %></li>
				<% end %>
			</ul>

		</div>
	<% end %>

	<!-- steps -->
	<% if @recipe.steps %>
		<div class="col-sm-9">
			<h2>Préparation</h2>

			<% @recipe.steps.each_line do |step|%>
				<h3>Etape </h3>
				<p><%= step %></p>
			<% end %>

			<p class="alert alert-info" role="alert">Cette recette vous a paru trop grasse? <%= link_to "Créez votre variante" , fork_recipe_path( :id => @recipe.id), class: 'alert-link' %>!</p>

		</div>
	<% end %>
</div>


<!-- actions buttons -->
<div class="row">

	<div class="btn-group btn-group-justified" role="toolbar" aria-label="...">
		<%= link_to "sauvegarder", save_recipe_path(id: @recipe.id), :class => 'btn btn-primary' %>
		<!-- Add a fork button if the user is connected -->
		<%= link_to "créer une variante" , fork_recipe_path( :id => @recipe.id) , :class => 'btn btn-primary' %>

		<!-- if it's the owner of the recipe  -->
		<% if @recipe.user and current_user == @recipe.user %>
			<%= link_to "modifier" , edit_recipe_path , 
						:class => 'btn btn-warning'%>
			<%= link_to "supprimer" , @recipe ,
						:class => 'btn btn-danger',
						:method => :delete, 
						:confirm => 'Are you sure?' ,
						:title => "Delete #{@recipe.name}" %>
		<% end %>

	</div>

</div>


<!-- commentaires -->
<div class="row">
	<h2>Commentaires</h2>
	<%= render 'shared/comments', :comments => @recipe .comments %>
</div>