<section id="recipe" class="content">

<div id="recipe_fullscreen_picture" 
	style="background-image: url(<%= @recipe.true_image_url %>);"  ></div>

<h1 class="recipe"><%= @recipe.name  %>
	<%= " - %s" % @recipe.variant_name if @recipe.variant_name%></h1>

<% recipe_rate = @recipe.rate.to_i %>

<%if recipe_rate > 0 %>
	<span class="star-rating"><% recipe_rate.to_i.times do %>
		<i style="opacity: 1"></i>
	<% end %></span>
<% end %>

<span class="picture_ribon">
	<ul>
		
		<% if @recipe.rtype %>
			<li><%= link_to image_tag("/assets/images/type_of_food/%s.svg" % @recipe.rtype ) + @recipe.rtype , recipes_search_path( :type => @recipe.rtype )  %></li>
		<% end %>

		<% if @recipe.season %>
			<li><%= link_to image_tag("/assets/images/seasons/%s.svg" % @recipe.season ) + @recipe.season , recipes_search_path( :season => @recipe.season )  %></li>
		<% end %>

	</ul>
</span>




<!-- image -->
<div  id="recipe_picture"
	style="background-image: url(<%= @recipe.true_image_url %>);"  >

	<a id="zoom-in" href="#" style="display:none">
		<%= image_tag("/assets/images/icons/zoom-in.svg", size: "100") %></a>
		
</div>



<!-- times -->
<div id="times" class="picture_ribon">

	<!-- préparation  -->
	<div style="background-image:url(/assets/images/time/cooking.svg)" ><time>
		<% if @recipe.t_cooking.is_a? Time %>
			<%= @recipe.t_cooking.strftime "%H:%M"  %>
		<% else %>
			<%= @recipe.t_cooking %>
		<% end %>
			
		</time></div>

	<!-- cuisson  -->
	<div style="background-image:url(/assets/images/time/baking.svg)" ><time>
		<% if @recipe.t_baking.is_a? Time %>
			<%= @recipe.t_baking.strftime "%H:%M"  %>
		<% else %>
			<%= @recipe.t_baking %>
		<% end %>
			
		</time></div>

	<!-- réfrigération  -->
	<div style="background-image:url(/assets/images/time/cooling.svg)" ><time>
		<% if @recipe.t_cooling.is_a? Time %>
			<%= @recipe.t_cooling.strftime "%H:%M"  %>
		<% else %>
			<%= @recipe.t_cooling %>
		<% end %>
			
		</time></div>

	<!-- repos  -->
	<div style="background-image:url(/assets/images/time/rest.svg)" ><time>
		<% if @recipe.t_rest.is_a? Time %>
			<%= @recipe.t_rest.strftime "%H:%M"  %>
		<% else %>
			<%= @recipe.t_rest %>
		<% end %>
			
		</time></div>



</div>

<%= render 'shared/user' , :user => @recipe.user %>


<!-- forked recipes -->
<% forked_recipes = @recipe.forked_recipes 
if forked_recipes.length > 0 %>

	<h2>Variantes disponnibles</h2>
	<%= render 'shared/recipes' , :recipes => forked_recipes %>

<% elsif @recipe.forked?  %>

	<h2>Recette originelle</h2>
	<%= render 'shared/recipe' , :recipe => @recipe.root_recipe %>

<% end %>

<h2>Actions</h2>
<ul class="actions" >


	<li><%= link_to "sauvegarder", recipe_save_path( :id => @recipe.id) , :class => 'button_save' %></li>

	<!-- Add a fork button if the user is connected -->
	<% if current_user and  @recipe.root_recipe_id == 0%>
		<li><%= link_to "créer une variante" , recipes_fork_path( :id => @recipe.id) , :class => 'button_edit' %></li>
	<% end %>

	<!-- if it's the owner of the recipe  -->
	<% if current_user == @recipe.user %>

		<li><%= link_to "modifier" , edit_recipe_path , 
					:class => 'button_edit'%></li>

		<li><%= link_to "supprimer" , @recipe ,
					:class => 'button_delete',
					:method => :delete, 
					:confirm => 'Are you sure?' ,
					:title => "Delete #{@recipe.name}" %></li>
	<% end %>

</ul>



<% if @recipe.ingredients %>
	<h2>Ingredients</h2>
	<ul id="ingredients">
		<% @recipe.ingredients.each_line do |ingredient|%>
			<li><%= link_to ingredient , recipes_search_path( :ingredients => ingredient )  %></li>
		<% end %>
	</ul>
<% end %>

<% if @recipe.steps %>
	<h2>Préparation</h2>
	<ul id="steps">
		<% @recipe.steps.each_line do |step|%>
			<li><span></span><%= step %></li>
		<% end %>
	</ul>
<% end %>


<%= render 'shared/comments', :comments => @recipe .comments %>

</section>