<section id="recipe" class="content">

<h1 class="recipe"><%= @recipe.name  %></h1>


<div 
	id="recipe_picture"
	style="background-image: url(<%= @recipe.image_url %>);" 
>




</div>

<div id="times">

	<div style="background-image:url(/assets/images/time/cooking.svg)" >
		<!-- préparation  -->
		<time><%= @recipe.t_cooking  %></time>
	</div>
	<div style="background-image:url(/assets/images/time/baking.svg)" >
		<!-- cuisson -->
		<time><%= @recipe.t_baking %></time>
	</div>
	<div style="background-image:url(/assets/images/time/cooling.svg)" >
		<!-- réfrigération -->
		<time><%= @recipe.t_cooling  %> </time>
	</div>
	<div style="background-image:url(/assets/images/time/rest.svg)" >
		<!-- repos -->
		<time><%= @recipe.t_rest %></time>
	</div>
</div>

<ul class="actions" >
	<li><%= link_to "sauvegarder", recipes_save_path( :id => @recipe.id) , :class => 'button_save' %></li>

	<% if current_user == @recipe.user %>

		<li><%= link_to "modifier" , edit_recipe_path , 
					:class => 'button_edit'%></li>

		<li><%= link_to "supprimer" , @recipe ,
					:class => 'button_delete',
					:method => :delete, 
					:confirm => 'Are you sure?' ,
					:title => "Delete #{@recipe.name}" %></li>
	<% end %>

</ul>

<% if @recipe.ingredients %>
	<ul id="ingredients">
		<% @recipe.ingredients.each_line do |ingredient|%>
			<li><%= link_to ingredient , recipes_search_path( :ingredients => ingredient )  %></li>
		<% end %>
	</ul>
<% end %>

<% if @recipe.steps %>
	<ul id="steps">
		<% @recipe.steps.each_line do |step|%>
			<li><span></span><%= step %></li>
		<% end %>
	</ul>
<% end %>




<%= render 'shared/user' , :user => @recipe.user %>

<%= render 'shared/comments', :comments => @recipe .comments %>

</section>


<script type="text/javascript">

	$('#recipe_picture').hover(
		function(){
			$(this).animate({
				height: "600px"
			}, 500);
	} , function(){
		//$(this).animate({height: "300px"}, 500)

	} );
	$(document).ready(function(){
		$('#recipe_picture').parallax();

	});


</script>