<h1 class="recipe"><%= @recipe.name  %></h1>



<div 
	id="recipe_picture"
	style="background-image: url(<%= @recipe.image_url %>);" 
>




<!-- 	<figure>
		<%= image_tag @recipe.image_url %>
		<figcaption><%= @recipe.description %></figcaption>
	</figure> -->


</div>
	<div id="times">

		<div style="background-image:url(/assets/images/time/cooking.png)" >
			<!-- préparation  -->
			<time><%= @recipe.t_cooking  %></time>
		</div>
		<div style="background-image:url(/assets/images/time/baking.png)" >
			<!-- cuisson -->
			<time><%= @recipe.t_baking %></time>
		</div>
		<div style="background-image:url(/assets/images/time/cooling.png)" >
			<!-- réfrigération -->
			<time><%= @recipe.t_cooling  %> </time>
		</div>
		<div style="background-image:url(/assets/images/time/rest.png)" >
			<!-- repos -->
			<time><%= @recipe.t_rest %></time>
		</div>
	</div>





<small>ajoutée le <date><%= @recipe.created_at.strftime("%d/%m/%Y") %></date></small>





<!--<%= @recipe.category  %>
<%= @recipe.season  %>
<br/>

<!-- display times  & steps-->
<div id="ing_n_steps">
	<!-- display ingredients -->
	<div id="ing">
		<% if @recipe.ingredients %>
			<ul>
			<% @recipe.ingredients.each_line do |ingredient|%>
				<li><%= ingredient %></li>
			<% end %>
			</ul>
		<% end %>
	</div>

	<!-- display steps -->
	<div id="steps">
		<% if @recipe.steps %>
			<ol>
				<% @recipe.steps.each_line do |step|%>
					<li><%= step %></li>
				<% end %>
			</ol>
		<% end %>
	</div>
</div>


<h2>auteur</h2>
<%= render 'shared/user' , :user => @recipe.user %>


<h2>Commentaires</h2>
<h3>liste des commentaires</h3>
<%= render 'shared/comments', :comments => @recipe.comments %>

<%= render 'comments/form', :comment => @comment %>


<% @recipe.comments.each do |comment| %>

<% end %>




<% # just puts a form to add a comment if user is connected. If not I put a link to login
	if signed_in?
		puts render 'comments/form', :comment => @comment
	else
		puts link_to 'connectez-vous pour créer un commentaire' , signin_path 
	end %>



<ul class="actions" >
	<li><%= link_to "sauvegarder", 'save', :class => 'button_edit' %></li>

	<% if current_user = @recipe.user %>

		<li><%= link_to "modifier" , edit_recipe_path , 
					:class => 'button_edit'%></li>

		<li><%= link_to "supprimer" , @recipe,
					:class => 'button_delete',
					:method => :delete, 
					:confirm => 'Are you sure?' ,
					:title => "Delete #{@recipe.name}" %></li>
	<% end %>

</ul>



<script type="text/javascript">

	$('#recipe_picture').hover(
		function(){
			$(this).animate({
				height: "600px"
			}, 500);
	} , function(){
		//$(this).animate({height: "300px"}, 500)

	} );
	$(document).ready(function(){
		$('#recipe_picture').parallax();

	});


</script>