<div id="background-blurred-picture" style="background-image: url(<%=@recipe.true_image_url%>)">
</div>


<!-- title of recipe -->
<div class="row page-header recipe">

	<div class="col-xs-12">
		<% if @recipe.user %>
			<%= render "users/image", user: @recipe.user %>
		<% end %>

		<h1 class="recipe"><%= @recipe.name  %>
			<%= " - %s" % @recipe.variant_name if @recipe.variant_name%></h1>
		<p><%= @recipe.description %></p>
		<p>Une recette de <%= render 'users/link', user: @recipe.user %></p>
	</div>
</div>




<!-- image of recipes and basics informations -->
<div class="row recipe-picture-ribon">

	<!-- image -->
	<%= image_tag @recipe.true_image_url , class: "img img-responsive full-width"%>
	


	<div class="col-xs-12">

		<% %w(cooking baking cooling rest).each do |time| %>
			<div class="recipe-label col-lg-12 col-md-6 col-xs-2 col-"><%= recipe_label_time @recipe, time %></div>
		<% end %>
				

	</div>

</div><!-- end of image-->









<!-- forked recipes -->
<div class="row">
	<!-- forked recipes -->
	<% if @recipe.forked_recipes.length > 0 %>

		<h2>Variantes disponnibles</h2>
		<%= render 'shared/recipes' , :recipes => @recipe.forked_recipes %>

	<% elsif @recipe.forked?  %>

		<h2>Recette originelle</h2>
		<%= render 'shared/recipe' , :recipe => @recipe.root_recipe %>

	<% end %>
</div>


<!-- ingredients and steps -->
<div class="row">

	<div class="col-xs-12 col-sm-3">

		<!-- ingrédients -->
		<% if @recipe.ingredients %>
		
			<div id="ingredients" class="row">
				
				<h2 class="visible-md-block visible-sm-block">Ingrédients</h2>

				<ul class="list-group col-xs-12">
					<% @recipe.ingredients.each_line do |ingredient|%>
						<li class="col-sm-12 col-xs-4 list-group-item"><%= link_to ingredient , recipes_path( :ingredients => ingredient )  %></li>
					<% end %>
				</ul>
			</div><!-- #ingredients -->

		<% end %><!--/ ingrédients -->



	</div><!--/ .col-sm-3 -->

	<!-- steps -->
	<% if @recipe.steps %>
		<div id="steps" class="col-sm-9">
			<h2>Préparation</h2>

			<% @recipe.steps.each_line do |step|%>
				<p><%= step %></p>
			<% end %>

			<p class="alert alert-info" role="alert">Cette recette vous a paru trop grasse? <%= link_to "Créez votre variante" , fork_recipe_path( :id => @recipe.id), class: 'alert-link' %>!</p>

		</div>
	<% end %>

</div>


<!-- actions buttons -->
<div class="row">

	<div class="col-md-12">
		<div class="btn-group" role="toolbar" aria-label="...">

			<!-- save button -->
			<%= link_to save_recipe_path(id: @recipe.id), :class => 'btn btn-primary' do %>
				<span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> sauvegarder
			<% end %>

			<!-- fork button -->
			<%= link_to fork_recipe_path( :id => @recipe.id) , :class => 'btn btn-primary' do %>
				<span class="glyphicon glyphicon-transfer" aria-hidden="true"></span> créer une variante
			<% end %>


			<!-- if it's the owner of the recipe  -->
			<% if @recipe.user and current_user == @recipe.user %>

				<!-- edit button -->
				<%= link_to edit_recipe_path , :class => 'btn btn-warning' do %>
					<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> modifier
				<% end %>

				<!-- delete button -->
				<%= link_to @recipe , :class => 'btn btn-danger', :method => :delete, :confirm => 'Are you sure?' , :title => "Supprimer #{@recipe.name}?" do %>
					<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> supprimer
				<% end %>

			<% end %>

		</div>
	</div>
</div>


<!-- commentaires -->
<div id="comments" class="row">
	<div class="col-md-12">
		<h2>Commentaires</h2>
		<%= render 'shared/comments', :comments => @recipe .comments %>
	</div>
</div>







<div class="recipe-label col-lg-12 col-md-6 col-xs-2 col-"><%= recipe_label_type @recipe  %></div>
		<div class="recipe-label col-lg-12 col-md-6 col-xs-2 col-"><%= recipe_label_season @recipe %></div>

<div class="col-sm-3" style="text-align: right">
	<%= render 'shared/stars', stars: @recipe.rate.to_i %>
	<hr/>
	<%= image_tag '/assets/images/icons/views.svg' , class: 'views' %> vue <%= @recipe.count_views %> fois
</div>