<!-- title of recipe -->
<div class="row page-header recipe">

	<div class="col-xs-12">
		<% if @recipe.user %>
			<%= render "users/image", user: @recipe.user %>
		<% end %>

		<h1 class="recipe"><%= @recipe.name  %>
			<%= " - %s" % @recipe.variant_name if @recipe.variant_name%></h1>
		<p><%= @recipe.description %></p>
		<p>Une recette de <%= render 'users/link', user: @recipe.user %></p>
	</div>
</div>


<!-- image of recipes and basics informations -->
<div class="row recipe-picture-ribon">
	<!-- image -->
	<% if @recipe.has_image? %>
			<%= image_tag @recipe.true_image_url , class: "img img-responsive full-width recipe-image"%>
	<% end %>

	<!-- times -->
	<div class="col-xs-12">
		<% %w(cooking baking cooling rest).each do |time| %>
			<div class="recipe-label col-xs-2"><%= recipe_label_time @recipe, time %></div>
		<% end %>
	</div>
</div><!-- end of image-->

<!-- forked recipes -->
<div class="row">
	<!-- forked recipes -->
	<% if @recipe.forked_recipes.length > 0 %>
		<div class="col-xs-12">
			<h2>Variantes disponnibles</h2>
			<%= render 'shared/recipes' , :recipes => @recipe.forked_recipes %>
		</div>

	<% elsif @recipe.forked?  %>
		<div class="col-xs-12">
			<h2>Recette originelle</h2>
			<%= render 'shared/recipe' , :recipe => @recipe.root_recipe %>
		</div>

	<% end %>
</div>


<!-- ingredients and steps -->
<div class="row">

	<div class="col-sm-4">

		<!-- ingrédients -->
		<% if @recipe.ingredients %>
			<div id="ingredients" class="row">

				<div class="col-xs-12">
					<h2 class="visible-md-block visible-sm-block">Ingrédients</h2>

					<ul class="list-group">
						<% @recipe.ingredients.each_line do |ingredient|%>
							<li class="col-sm-12 col-xs-6 list-group-item">
								<%= link_to ingredient , recipes_path( :ingredients => ingredient )  %>
							</li>
						<% end %>
					</ul>

				</div>

			</div><!-- #ingredients -->
		<% end %><!--/ ingrédients -->

		<div id="informations" class="row">
			<div class="col-xs-12">
				<h2 class="visible-md-block visible-sm-block">Informations</h2>

				<div class="recipe-information col-sm-12 col-xs-3">
					<strong>Notations</strong>
					<%= render 'shared/stars', stars: @recipe.rate.to_i %>
				</div>

				<div class="recipe-information col-sm-12 col-xs-3">
					<strong>Vues</strong>
					<%= image_tag 'icons/views.svg' , class: 'views' %> vue <%= @recipe.count_views %> fois
				</div>

				<div class="recipe-information col-sm-12 col-xs-3">
					<strong>Type</strong>
					<%= recipe_label_type @recipe  %>
				</div>

				<div class="recipe-information col-sm-12 col-xs-3">
					<strong>Saison</strong>
					<%= recipe_label_season @recipe %>
				</div>
			</div>
		</div><!-- / #informations -->

		<!-- actions buttons -->
		<div class="row">

			<div class="col-md-12">

				<h2>Actions</h2>

				<!-- save button -->
				<%= link_to save_recipe_path(id: @recipe.id), :class => 'btn btn-primary col-xs-3 col-sm-12' do %>
					<span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> sauvegarder
				<% end %>

				<!-- fork button -->
				<%= link_to fork_recipe_path( :id => @recipe.id) , :class => 'btn btn-primary col-xs-3 col-sm-12' do %>
					<span class="glyphicon glyphicon-transfer" aria-hidden="true"></span> créer une variante
				<% end %>


				<!-- if it's the owner of the recipe  -->
				<% if @recipe.user and current_user == @recipe.user %>

					<!-- edit button -->
					<%= link_to edit_recipe_path , :class => 'btn btn-warning col-xs-3 col-sm-12' do %>
						<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> modifier
					<% end %>

					<!-- delete button -->
					<%= link_to @recipe , :class => 'btn btn-danger col-xs-3 col-sm-12', :method => :delete, :confirm => 'Are you sure?' , :title => "Supprimer #{@recipe.name}?" do %>
						<span class="glyphicon glyphicon-trash" aria-hidden="true"></span> supprimer
					<% end %>

				<% end %>

			</div><!--/ .col-md-12 -->
		</div><!--/ .row action button -->

	</div><!--/ .col-sm-3 -->


	<!-- steps -->
	<% if @recipe.steps %>
		<div class="col-sm-8">
			<div id="steps">

				<h2>Préparation</h2>

				<% @recipe.steps.each_line do |step|%>
					<p><%= step %></p>
				<% end %>

				<p class="alert alert-info" role="alert">Cette recette vous a paru trop grasse? <%= link_to "Créez votre variante" , fork_recipe_path( :id => @recipe.id), class: 'alert-link' %>!</p>
			</div><!--/ #steps -->
		</div><!--/ .col-sm-9 -->
	<% end %>

</div>

<!-- commentaires -->
<div class="row">
	<div class="col-xs-12">
		<h2>Commentaires</h2>
		<%= render 'shared/comments', :comments => @recipe .comments %>
	</div>
</div>
