<div class="col-xs-12">

  <%= bootstrap_form_for user do |f| %>

    <%= render 'shared/error_messages' , :object => f.object %>

    <%= f.email_field :email, 
        help: ("La photo de profil est chargée à partir de " + link_to("gravatar.com", "http://gravatar.com/") +
            ". Vous pouvez la modifier " + link_to("ici", "http://gravatar.com/email/%s" % @user.email) ).html_safe %>
    <%= f.text_field :username, label: 'Pseudo' %>
    <%= f.text_field :firstname, label: 'Nom de famille' %>
    <%= f.text_field :lastname, label: 'Prénom' %>

    <%= f.password_field :password, label: 'Mot de passe' %>
    <%= f.password_field :password_confirmation, label: 'Confirmez votre mot de passe' %>
    <%= f.submit 'Créer son compte' %>

  <% end %>

</div>
