<div class="col-xs-12">

  <%= bootstrap_form_for user do |f| %>

    <%= render 'shared/error_messages' , :object => f.object %>

    <%= f.email_field :email %>
    <%= f.text_field :username, label: 'Pseudo' %>
    <%= f.text_field :firstname, label: 'Nom de famille' %>
    <%= f.text_field :lastname, label: 'Prénom' %>

    <%= f.password_field :password, label: 'Mot de passe' %>
    <%= f.password_field :password_confirmation, label: 'Confirmez votre mot de passe' %>
    <%= f.submit 'Créer son compte' %>

  <% end %>

</div>
