<table style="width:100%;text-align: center">
	<thead>
		<tr>
			<th>Username</th>
			<th>name</th>
			<th>email</th>
			<th>login_count</th>
			<th>failed_login_count</th>
			<th>IP</th>
		</tr>
	</thead>

	<tbody><% users.each do |user| %>
		
		<tr>
			<td><%= user.username %></td>
			<td><%= user.complete_name %></td>
			<td><%= mail_to user.email %></td>
			<td><%= user.login_count %></td>
			<td><%= user.failed_login_count %></td>
			<td><%= user.current_login_ip %></td>
		</tr>

	<%end %></tbody>

</table>