<div class="row page-header">

	<div class="col-xs-2">
		<%= render "users/image", user: @user %>
	</div>

	<div class="col-xs-10">
		<h1><%= @user.username   %> <small><%= pluralize @user.rank, "point"   %></small></h1>
	</div>

</div>



<p class="alert alert-info" role="alert">Gagnez plus de points en <%= link_to "ajoutant de nouvelles recettes", new_recipe_path %> ou créant des variantes.</p>


<% if current_user == @user %>

	<div class="btn-group">

		<%= link_to "editer mon profil" , edit_user_path( :id => @user.id ) , class: 'btn btn-warning' %>
		<%= link_to "se déconnecter" , signout_path , :class => 'btn btn-danger' %>
	</div>
<% end %>


<div class="row">
	<h2>Recettes <small>(<%= pluralize(@user.recipes.count, "recette") %>)</small></h2>
		<%= render 'shared/recipes' , :recipes => @recipes %>
		<%= will_paginate @recipes , :class => "apple_pagination" %>
</div>


<div class="row">
	<h2>Commentaires <small>(<%= pluralize(@user.comments.count, "commentaire") %>)</small></h2>
	<%= render 'shared/comments', :comments => @user.comments %>
</div>

