<section id="credits">

<h1>Crédits</h1>

<h2>A propos du développement</h2>

	<h3>Langage</h3>
	<p>Pour le langage côté serveur j'ai utilisé Ruby et sont fabuleux Framework Ruby on Rails.</p>

	<h3>Matériel</h3>
	<p>Un Raspberry Pi B+ sous Raspbian OS rempli très bien sont rôle de serveur Web. C'est vraiment génial ces trucs là.</p>


	<h3>software</h3>
	<p>Le serveur tourne sous le combot Apache / MySQL. </p>

<h2>A propos du design</h2>

	<p>Design réalisé exclusivement par mes soins. J'ai utilisé un pré-processeur pour le CSS appelé SASS et une touche de javascript avec Jquery. Quelques Googles pour la cerise su le gateau.</p>


	<h3>Couleurs</h3>
	<ul>
		<li><%= link_to 'flatuicolors.com' , 'https://flatuicolors.com/'%></li>
		<li><%= link_to 'flatuicolorpicker.com' , 'http://www.flatuicolorpicker.com/'%></li>
	</ul>


	<h3>fonts</h3>
	<ul>
		<li><%= link_to 'Pacifico' , 'http://www.dafont.com/fr/pacifico.font' %> utilisé pour les titres principaux</li>
	</ul>

	<h3>icones</h3>
	<ul>
		<li></li>
	</ul>

	<h3>Stylesheets</h3>
	<ul>
		<li><%= link_to 'Will_paginate' , 'http://mislav.github.io/will_paginate/' %> utilisé pour la pagination</li>
	</ul>

	<h3>logiciels utilisés</h3>
	<ul>
		<li><%= link_to 'Gimp' , 'https://www.gimp.org/' %> pour la retouche des images</li>
		<li><%= link_to 'Inkscape' , 'https://inkscape.org/fr/' %> pour les icones</li>
	</ul>


<h2>Un grand merci</h2>

	<h3>ma copine</h3>

	<p>Un grand merci à <%= link_to 'ma copine' , user_path(2) %> pour son soutient et son aide pour la créations d'une tonnes de déliceuses recettes sur Raspberry Cook.</p>

	<h3>ressources</h3>

	<p>Je souhaite aussi à remercier la tonnes de tutoriel qui m'ont permis de créer cette application. En voici une liste non exhaustive:</p>
	<ul>
		<li><%= link_to 'Apprendre Rails par l\'exemple' , 'http://french.railstutorial.org/chapters/beginning' %></li>
		<li><%= link_to 'Serveur web à la maison' , 'http://raspberry-pi.developpez.com/cours-tutoriels/serveur-web/' %></li>
	</ul>




</section>