<section id="credits">

<h1>Crédits</h1>

<h2>A propos du développement</h2>

	<h3>Langage</h3>
	<p>Pour le langage côté serveur j'ai utilisé Ruby et son fabuleux Framework Ruby on Rails.</p>

	<h3>Matériel</h3>
	<p>Un Raspberry Pi B+ sous Raspbian OS remplit très bien son rôle de serveur Web. C'est vraiment génial ces trucs là.</p>


	<h3>Software</h3>
	<p>Le serveur tourne sous le combo Apache / MySQL. </p>

<h2>A propos du design</h2>

	<p>Design réalisé exclusivement par mes soins. J'ai utilisé un pré-processeur pour le CSS appelé SASS et une touche de javascript avec Jquery. Et pour la cerise sur le gâteau: quelques Googles Fonts.</p>


	<h3>Couleurs</h3>
	<ul>
		<li><%= link_to 'flatuicolors.com' , 'https://flatuicolors.com/'%></li>
		<li><%= link_to 'flatuicolorpicker.com' , 'http://www.flatuicolorpicker.com/'%></li>
	</ul>


	<h3>Fonts</h3>
	<ul>
		<li><%= link_to 'Pacifico' , 'http://www.dafont.com/fr/pacifico.font' %> réalisé par <%= link_to 'Vernon Adams' , 'http://www.dafont.com/fr/vernon-adams.d3873' %> sous licence <%= link_to 'SIL Open Font License' , 'http://scripts.sil.org/cms/scripts/page.php?item_id=OFL_web' %></li>
	</ul>

	<h3>Icônes</h3>
	<ul>
		<li><%= link_to 'Cupcake' , 'http://www.flaticon.com/free-icon/cupcake-dessert_18262' %> réalisé par <%= link_to 'Freepik' , 'http://www.freepik.com' %> sous licence <%= link_to 'CC 3.0 BY' , 'http://creativecommons.org/licenses/by/3.0/' %></li>

		<li><%= link_to 'Search icon' , 'http://www.flaticon.com/free-icon/search-interface-symbol_54481' %> réalisé par <%= link_to 'Catalin Fertu' , 'http://www.flaticon.com/authors/catalin-fertu' %> sous licence <%= link_to 'CC 3.0 BY' , 'http://creativecommons.org/licenses/by/3.0/' %></li>
		<li><%= link_to 'Magnifier' , 'http://www.flaticon.com/free-icon/zoom-in_179600#term=magnifier&page=1&position=36' %> réalisé par <%= link_to 'Pixel Buddha' , 'http://www.flaticon.com/authors/pixel-buddha' %> sous licence <%= link_to 'CC 3.0 BY' , 'http://creativecommons.org/licenses/by/3.0/' %></li>

		<li>Food icons réalisés par <%= link_to 'Madebyoliver' , 'http://www.flaticon.com/authors/madebyoliver' %> sous licence <%= link_to 'CC 3.0 BY' , 'http://creativecommons.org/licenses/by/3.0/' %></li>

		<li>Smileys réalisés par <%= link_to 'Roundicons' , 'http://www.flaticon.com/authors/roundicons' %> sous licence <%= link_to 'CC 3.0 BY' , 'http://creativecommons.org/licenses/by/3.0/' %></li>
		<li>Saisons réalisées par <%= link_to 'Pixel perfect' , 'http://www.flaticon.com/authors/pixel-perfect' %> sous licence <%= link_to 'CC 3.0 BY' , 'http://creativecommons.org/licenses/by/3.0/' %></li>


	</ul>

	<h3>Stylesheets</h3>
	<ul>
		<li><%= link_to 'Will_paginate' , 'http://mislav.github.io/will_paginate/' %> utilisé pour la pagination</li>
	</ul>

	<h3>Autre</h3>
	<ul>
		<li><%= link_to 'Windows.Growl' , 'http://icebeat.bitacoras.com/mootools/growl/' %> utilisé pour les notifications</li>
		<li><%= link_to 'Inspiration for custom Select Elements ', 'http://tympanus.net/codrops/2014/07/10/inspiration-for-custom-select-elements/' %> utilisé pour la sélection du type de recettes</li>
	</ul>

	<h3>Logiciels utilisés</h3>
	<ul>
		<li><%= link_to 'Gimp' , 'https://www.gimp.org/' %> pour la retouche des images</li>
		<li><%= link_to 'Inkscape' , 'https://inkscape.org/fr/' %> pour les icônes</li>
	</ul>


<h2>Un grand merci</h2>

	<h3>Ma copine</h3>

	<p>Un grand merci à <%= link_to 'ma copine' , user_path(2) %> pour son soutien et son aide pour la création d'une tonne de déliceuses recettes sur Raspberry Cook.</p>

	<h3>Ressources</h3>

	<p>Je souhaite aussi à remercier la tonne de tutoriels qui m'a permis de créer cette application. En voici une liste non exhaustive:</p>
	<ul>
		<li><%= link_to 'Apprendre Rails par l\'exemple' , 'http://french.railstutorial.org/chapters/beginning' %></li>
		<li><%= link_to 'Serveur web à la maison' , 'http://raspberry-pi.developpez.com/cours-tutoriels/serveur-web/' %></li>
	</ul>


</section>