<!-- repair section view -->
<style type="text/css">
	section.home{
		max-width: 100%;
		width: 100%;
	}
</style>

<section id="section_home_first" class="home" style="background-image: url('/assets/images/raspberry_cook.svg');background-position: -100px ;  ">
	
	<h1>Raspberry Cook</h1>

	<div id="quote" >
		<q><font color="#2980b9">Yes</font> <font color="#F2F1EF">you</font> <font color="#e74c3c">Cook!</font></q>
		<legend>Barack Obama - 2008</legend>
	</div>

</section>

<section class="home" style="background-image: url('/assets/images/recipe.png'); background-position: right">
	<h2>Des <strong>recettes</strong>. Partout. Tout plein</h2>

	<%= render 'recipes/podium' , :recipes => @recipes %>
</section>

<section class="home" style="background-image: url('/assets/images/flatvsrealism.png')">
	<h2>Un <strong>design</strong> IM-PEC-CABLE</h2>
	<p>Ou du moins quand même bien foutu.</p>
</section>


<section class="home" style="background-image: url('/assets/images/github-octocat.svg'); background-position: right -160px center">
	<h2>Un projet <strong>open-source</strong></h2>
	<p>Et ça ne veut pas seulement dire "<strong>gratuit</strong>" !</p>
</section>


<section class="home" style="background-image: url('/assets/images/icons/thief.svg'); background-position: -200px">
	<h2>Vous êtes flemmard? Moi aussi!</h2>

	<p><strong>Importez</strong> instantanément une recette depuis un autre site! <br/><%= link_to "Raspberry Cook", home_path %> travaille pour vous!</p>

	<p><%= link_to "Marmiton.org", "http://www.marmiton.org/" %>, <%= link_to "750g.com", "http://www.750g.com/" %> et <%= link_to "CuisineAZ.com", "http://www.cuisineaz.com/" %>: on prend tout!</p>

</section>

<section class="home" style="background-image: url('/assets/images/charity.svg')">
	<h2>Participez à l'avènement d'un site <strong>révolutionnaire</strong></h2>
	<p><strong>Partagez</strong>, <strong>participez</strong> et <strong>contribuez</strong> au projet!</p>
	<ul class="share">
		<li><%= link_to(image_tag("/assets/images/icons/fb.svg"),'https://www.facebook.com/raspberrycook')%>La page <strong>Facebook</strong></li>
		<li><%= link_to(image_tag("/assets/images/icons/intgr.svg"),'https://www.instagram.com/raspberry_cook/')%>La chaine <strong>Instagram</strong></li>
		<li><%= link_to(image_tag("/assets/images/icons/github-icon.svg"),'https://github.com/madeindjs/raspberry_cook')%>Le <strong>projet Github</strong></li>
		<li><%= link_to(image_tag("/assets/images/icons/wordpress-icon.svg"),'http://blog.raspberry-cook.fr/')%>Le <strong>blog</strong> de développement</li>
	</ul>
</section>




<!-- <h2>Le dernières recettes</h2> -->
<%#= render 'shared/recipes' , :recipes => @recipes %>
