<!-- repair section view -->
<style type="text/css">
	section.home{
		max-width: 100%;
		width: 100%;
	}
</style>

<section id="section_home_first" class="home" style="background-image: url('/assets/images/raspberry_cook.svg');background-position: -100px ;  ">
	
	<h1>Raspberry Cook</h1>

	<div id="quote" >
		<q><font color="#2980b9">Yes</font> <font color="#F2F1EF">you</font> <font color="#e74c3c">Cook!</font></q>
		<legend>Barack Obama - 2008</legend>
	</div>

</section>

<section class="home" style="background-image: url('/assets/images/recipe.png'); background-position: right">
	<h2>Ne soyez pas qu'un simple <strong>glouton</strong>!</h2>
	<p>Devenez un contributeur en <strong>dupliquant</strong> une recette existante pour ensuite créer <strong>votre propre variante</strong>!</p>
	<p>Testez votre nouveau pouvoir parmi une recette récement ajoutée.</p>
	<%= render 'shared/recipes' , :recipes => @recipes %>
</section>



<section class="home" style="background-image: url('/assets/images/icons/thief.svg'); background-position: -200px">
	<h2>Votre recette n'est pas sur Raspberry Cook?</h2>

	<p><strong>Importez</strong> une recette depuis un site "partenaire"!</p>
	<p>Chez Raspberry Cook nous demanderons <strong>JAMAIS</strong> de travailler. Entrez simplement une addrese web et notre petit robot super entrainé ira la copier pour vous!</p>
</section>

<section class="home" style="background-image: url('/assets/images/flatvsrealism.png')">
	<h2>Un <strong>design</strong> IM-PEC-CABLE</h2>

	<p>Ou du moins quand même bien foutu.</p>
</section>



<section class="home" style="background-image: url('/assets/images/charity.svg')">
	<h2>Participez à l'avènement d'un site <strong>révolutionnaire</strong></h2>
	<p>Nous avons qu'un seul but: que tout le monde soit gros et heureux!</p>
	<p><strong>Partagez</strong> et/ou <strong>contribuez</strong> au projet!</p>
	<ul class="share">
		<li><%= link_to(image_tag("/assets/images/icons/fb.svg"),'https://www.facebook.com/raspberrycook')%>La page <strong>Facebook</strong></li>
		<li><%= link_to(image_tag("/assets/images/icons/intgr.svg"),'https://www.instagram.com/raspberry_cook/')%>La chaine <strong>Instagram</strong></li>
		<li><%= link_to(image_tag("/assets/images/icons/github-icon.svg"),'https://github.com/madeindjs/raspberry_cook')%>Le <strong>projet Github</strong></li>
		<li><%= link_to(image_tag("/assets/images/icons/wordpress-icon.svg"),'http://blog.raspberry-cook.fr/')%>Le <strong>blog</strong> de développement</li>
	</ul>
</section>




<!-- <h2>Le dernières recettes</h2> -->
<%#= render 'shared/recipes' , :recipes => @recipes %>
