<div class="col-xs-12 home first-home" style="background-image: url('<%= image_url "raspberry_cook" %>');background-position: -100px ;  ">
	<h1>Raspberry Cook</h1>

	<p class="lead text-center">Cherchez une recette</p>

	<%= bootstrap_form_tag url: recipes_path, method: :get do |f| %>
	  <%= f.text_field :name, hide_label: true, append: f.submit('chercher',class: "btn btn-default"), input_group_class: 'input-group-lg' %>
	<% end %>

</div>

<div class="col-xs-12 home" style="background-image: url('<%= image_url "icons/people_eating" %>'); background-position: right">
	<h2>Les recettes du moment</h2>
	<%= render 'shared/recipes' , :recipes => Recipe.most_viewed(3) %>
</div>



<div class="col-xs-12 home" style="background-image: url('<%= image_url "icons/robot" %>'); background-position: -200px">
	<h2>Créez votre recette</h2>

	<p class="lead"><strong>Importez</strong> une recette depuis un "<i>site partenaire</i>".</p>

	<%= render 'recipes/new_recipe_form', recipe: Recipe.new %>
</div>



<div class="col-xs-12 home" style="background-image: url('<%= image_url "charity" %>')">
	<h2>Participez à l'avènement d'un site <strong>révolutionnaire</strong></h2>
	<p>Nous n'avons qu'un seul but: que tout le monde soit gros et heureux!</p>
	<p><strong>Partagez</strong> et/ou <strong>contribuez</strong> au projet!</p>
	<ul class="list-inline share">
		<li><%= link_to(image_tag("icons/fb", alt: 'Logo de Facebook',size: '40'),'https://www.facebook.com/raspberrycook')%>La page <strong>Facebook</strong></li>
		<li><%= link_to(image_tag("icons/intgr", alt: 'Logo d\'Instagram', size: '40'),'https://www.instagram.com/raspberry_cook/')%>La chaine <strong>Instagram</strong></li>
		<li><%= link_to(image_tag("icons/github-icon", alt: 'Logo de Github', size: '40'),'https://github.com/madeindjs/raspberry_cook')%>Le <strong>projet Github</strong></li>
	</ul>
</div>

<script type="text/javascript">
	// only on this view, we delete the padding on the main-container
	defer(function(){
		$("#main-container").attr('class', 'main-container container-fluid');
	});
</script>
