<div class="col-xs-12 home first-home" style="background-image: url('<%= image_url "raspberry_cook" %>');background-position: -100px ;  ">
  <h1>Raspberry Cook</h1>
  <p class="lead">Partage de recettes libres</p>
  <%= bootstrap_form_tag url: recipes_path, method: :get do |f| %>
    <%= f.text_field :name, hide_label: true, append: f.submit('chercher',class: "btn btn-default"), input_group_class: 'input-group-lg' %>
  <% end %>
  <ul class="list-inline">
    <li>
      <%= link_to recipes_path, class: 'btn btn-default' do %>
        <%= glyphicon 'road' %> Parcourir les recettes
      <% end %>
    </li>
    <% if current_user %>
      <li>
        <%= link_to recipes_path, class: 'btn btn-default' do %>
          <%= glyphicon 'plus' %> Ajouter une recette
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
<!-- Les recettes du moment -->
<div class="col-xs-12 home" style="background-image: url('<%= image_url "icons/people_eating" %>'); background-position: right">
  <h2>Les recettes du moment</h2>
  <div class="col-xs-12">
    <% cache @recipes do %>
      <%= render 'shared/recipes' , recipes: @recipes %>
    <% end %>
  </div>
  <p class="text-center">
    <%= link_to recipes_path, class: 'btn btn-lg btn-default' do %>
      <%= glyphicon 'road' %> Explorez les autres recettes
    <% end %>
  </p>
</div>
<div class="col-xs-12 home" style="background-image: url('<%= image_url "icons/fat_guy" %>')">
  <h2>Un organisme à but gourmand</h2>
  <blockquote>
    <p>Notre seul but est que tout le monde soit <strong>gros</strong> et <strong>heureux</strong>.</p>
    <footer>Mr. Raspberry Cook lors de la <cite title="Licence MIT">la conférence de libération des recettes de cuisines</cite></footer>
  </blockquote>
  <p class="home">Là ou certains sites <%= link_to "s'approprient vos recettes publiées sur leurs sites", 'http://www.marmiton.org/pratique/conditions-generales-d-utilisation.aspx' %>, nous distribuons vos recettes sous <%= link_to 'licence libre', 'https://creativecommons.org/licenses/by-sa/2.0/fr/' %>. Vos recettes sont accessibles <strong>gratuitement</strong>, <strong>partout</strong> et <strong>sans conditions restrictives</strong>.</p>
  <p class="text-center">
    <%= image_tag 'icons/free', height: 50, alt: 'Logo gratuit', title: 'Gratuit' %>
    <%= image_tag 'icons/data', height: 50, alt: 'Logo "pas de collecte de données"', title: 'Protection de votre vie privée' %>
    <%= image_tag 'icons/no_ads', height: 50, alt: 'Logo sans publicité', title: 'Pas de publicité' %>
  </p>
  <p class="home">De plus, nous pensons que votre <strong>vie privée est importante</strong>. C'est pourquoi nous ne collectons pas vos données avec <%= link_to 'Google Analytics', 'https://analytics.google.com' %> et nous n'intégrons pas de publicité.</p>
</div>
<% if @root_recipe %>
  <div class="col-xs-12 home" style="background-image: url('<%= image_url "icons/salt" %>'); background-position: right">
    <h2>Ajoutez votre grain de sel</h2>
    <p class="home">Toutes les recettes peuvent être améliorées à l'aide de <strong>variantes</strong>. Voici un exemple:</p>
    <div class="col-xs-12">
      <%= render 'shared/recipes' , recipes: @forked_recipe %>
    </div>
    <p class="home">En un <i>click</i>, la recette vous appartient et vous en faite ce que voulez.</p>
    <p class="text-center"><%= link_to "Créer ma variante", fork_recipe_path(id: @root_recipe.id), class: 'btn btn-lg btn-default' %></p>
  </div>
<% end %>
<div class="col-xs-12 home" style="background-image: url('<%= image_url "charity" %>')">
  <h2>Participez au projet</h2>
  <p>Raspberry Cook est un projet <strong>collaboratif</strong>. N'hésitez pas à <strong>contribuer</strong> au projet et ainsi rendre le monde meilleur!</p>
  <ul class="list-inline share">
    <li><quote>"Je suis <strong>Old shool</strong>"</quote><br/>
      Rejoignez nous<%= link_to(image_tag("icons/fb", alt: 'Logo de Facebook',size: '40'),'https://www.facebook.com/raspberrycook')%></li>
    <li><quote>"Je suis <strong>un hipster</strong>"</quote><br/>
      Salivez devant nos photos<%= link_to(image_tag("icons/intgr", alt: 'Logo d\'Instagram', size: '40'),'https://www.instagram.com/raspberry_cook/')%></li>
    <li><quote>"Je suis <strong>un dév</strong>"</quote><br/>
      Codez le site<%= link_to(image_tag("icons/github-icon", alt: 'Logo de Github', size: '40'),'https://github.com/madeindjs/raspberry_cook')%></li>
  </ul>
</div>
<script type="text/javascript">
  // only on this view, we delete the padding on the main-container
  defer(function(){
    var container = $("#main-container");
    container.attr('class', 'main-container container-fluid');
    container.css('padding', '0px');
  });
</script>