<h1>Mentions Légales</h1>

<h2>Recettes hébergées sur <%= link_to 'Raspberry Cook', root_path %></h2>

<p>Sauf mention contraire, les contenus (textes, recettes et photos) de ce site sont diffusés sous <%= link_to 'licence libre Creative Commons BY SA', 'http://creativecommons.org/licenses/by-sa/2.0/fr/' %>. Vous êtes libres de reproduire les recettes de ce site, les améliorer et les diffuser et de les partager à l’identique, c’est-à-dire sous la même licence, citée explicitement, avec un lien en retour vers la recette copiée. Régalez-vous !</p>

<p class="text-center">
	<%= link_to 'https://creativecommons.org/licenses/by-sa/2.0/fr/' do %>
	  <% image_tag 'icons/creative-commons.svg', alt: 'logo de la licence Creative Commons',height: 80 %>
	<% end %>
</p>

<h2>Logiciel</h2>

<p>Le site est sous license <%= link_to 'Open-Source MIT', 'https://opensource.org/licenses/MIT' %>. Le code source est consultable <%= link_to 'sur Github','https://github.com/RaspberryCook/website' %>.</p>
<p>Vous êtes libre d'utiliser, modifier et partager une autre instance de ce site sous la condition de respecter la licence.</p>


<blockquote>
	<p>L'autorisation est par les présentes accordée, sans frais, à toute personne qui obtient une copie de ce logiciel et des fichiers de documentation associés (le "Logiciel"), d'utiliser le Logiciel sans restriction, y compris, mais sans s' y limiter, les droits d'utiliser, copier, modifier, fusionner, publier, distribuer, sous-licencier et/ou vendre des copies du Logiciel, et d'autoriser les personnes auxquelles le Logiciel est fourni à le faire...</p>
	<footer>Extrait de la <cite title="Licence MIT"><%= link_to 'Licence MIT' , "https://opensource.org/licenses/MIT" %></cite></footer>
</blockquote>

<p class="text-center">
	<%= link_to 'https://opensource.org/licenses/MIT' do %>
	  <% image_tag 'icons/mit.png', alt: 'logo de la licence Creative Commons',height: 80 %>
	<% end %>
</p>