<ul>

	<li><strong>le projet</strong>
		<ul>
			<li><%= link_to 'informations' , infos_path %></li>
			<li><%= link_to 'GitHub' , "https://github.com/madeindjs/raspberry_cook" %></li>
		</ul>
	</li>

	<li><strong>à propos de moi</strong>
		<ul>
			<li><%= link_to 'Portfolio' , 'http://rousseau-alexandre.fr' %></li>
			<li><%= link_to 'Contactez-moi' , "mailto:RousseauAlexandre.Lyon@gmail.com?subject=Raspberry%20Cook" %></li>
		</ul>
	</li>

	<li><strong>Mentions légales</strong>
		<ul>
			<li>license</li>
			<li><%= link_to 'ressources' , infos_path %></li>
		</ul>
	</li>

	
</ul>




