<title><%= @title %></title>
<link rel="icon" type="image/png" href="/assets/images/favicon.png" />
<%= csrf_meta_tags %>
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

<%= stylesheet_link_tag 'application' , :media => "all" %>
<%= javascript_include_tag 'application' %>
<%= javascript_include_tag 'jquery.parallax-1.1.3.js' %>

<meta name="description" content="Des recettes. Partout. Tout plein!" />
<META NAME="keywords" CONTENT="webapp, cuisine, recette, recettes, raspberry, cook, partage, "> 