<% @title = "Raspberry Cook" unless @title %>
<% @description = "Partage de recettes sous licence libres. Vos recettes sont accessibles gratuitement, partout et sans conditions restrictives." unless @description %>
<title><%= @title %></title>
<link rel="icon" type="image/png" href="<%= image_url 'favicon' %>" />
<%= csrf_meta_tags %>
<meta name=viewport content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<!-- information meta tag -->
<meta name="keywords" content="webapp, cuisine, recette, recettes, raspberry, cook, partage, cool, open, source, design">
<meta name="language" content="fr-FR" />
<meta name="rating" content="General">
<meta name="expires" content="never">
<meta name="language" content="fr">
<meta name="distribution" content="Global">
<meta name="email" content="contact@rousseau-alexandre.fr">
<meta name="author" content="ROUSSEAU Alexandre">
<meta name="publisher" content="ROUSSEAU Alexandre">
<% if @recipe %>
  <meta property="og:image" content="http://raspberry-cook.fr<%= @recipe.image_url %>" >
  <meta name="thumbnail" content="http://raspberry-cook.fr<%= @recipe.image_url %>" />
<% else %>
  <meta property="og:image" content="<%= image_url 'og_image' %>">
  <meta name="thumbnail" content="<%= image_url 'og_image' %>" />
  <meta property="og:image:type" content="image/png">
  <meta property="og:image:width" content="500">
  <meta property="og:image:height" content="500">
<% end %>
<meta property="og:description" content="<%= @description %>" >
<meta name="description" content="<%= @description %>" />
<meta property="og:title" content="<%= @title %>">
<meta property="fb:app_id" content="1672575099670561">