<ul>

	
<li><%= link_to 'home' , home_path %></li>


<li><%= link_to 'recettes' , recipes_path %>
	<ul>
		<li><%= link_to 'bibliothèque' , recipes_path %></li>
		<li><%= link_to 'ingredients' , ingredients_path %></li>

		<% if signed_in? %>
			<li><%= link_to 'mes recettes' , user_path(current_user) %></li>
			<li><%= link_to 'ajouter' , new_recipe_path %></li>
		<% end %>
	</ul>
</li>

	


<!-- <li><a>rechercher</a>
	<ul>
		<li><a>recette</a></li>
		<li><a>utilisateur</a></li>
	</ul>
</li> -->


<li><%= link_to 'credits' , pages_credits_path %></li>



</ul>