<!DOCTYPE html>
<html>

<head><%= render 'layouts/head' %></head>
<body>

<script type="text/javascript">
	// a function to use in .html.erb view to run jquery query when it was loaded
	function defer(method) {
		if (window.jQuery)
			method();
		else
			setTimeout(function() { defer(method) }, 50);
	}
</script>

	<%= render 'layouts/navigation' %>

	<div id="main-container" class="main-container container-fluid col-md-8  col-sm-10 col-md-offset-2 col-sm-offset-1">

		<% flash.each do |key, value| %>
			<div class="row">
				<div class="alert alert-dismissible alert-<%= key %>" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<%= value.html_safe %>
				</div>
			</div>
		<% end %>

		<%= yield %>

		<%= render 'layouts/footer' %>
	</div>


	<script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
	<script src="//code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<%= javascript_include_tag 'application' %>

	<noscript id="deferred-styles">
		<%= stylesheet_link_tag 'application' , :media => "all" %>
	</noscript>


	</body>
</html>
