<!DOCTYPE html>
<html>
<head><%= render 'layouts/head' %></head>
<body>

	
	<nav><%= render 'layouts/navigation' %></nav>






	<%= yield %>

	<header><%= render 'layouts/header' %></header>
	<footer><%= render 'layouts/footer' %></footer>

	<% flash.each do |key, value| %>
		<div class="flash_<%= key %>">
			<%= value %>
		</div>
		<%= javascript_include_tag 'flash.js' %>

	<% end %> 


	</body>
</html>
